@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Varibels */
:root {
    --main-green: #38846D;
    --background-beige: #F3E4E1;
    --airbean-brown: #2F2926;
    --airbrean-orange: #E5674E;
    --background-blur: rgba(0,0,0,0.7);
}

body {
    font-family: "PT Serif", serif;
}

ul, li {
    list-style: none;
}

h1 {
    font-size: 42px;
}

p {
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Nav-page */
.nav-page__wrapper {
    background-color: var(--airbean-brown);
    width: 100%;
    height: 100vh;
}

.nav-page__close-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 16px;
    top: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: var(--background-beige);
}

.nav-page__close-icon {
    width: 20px;
}

.nav-page__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 32px;
}

.nav-page__menu a {
    color: var(--background-beige);
}

.nav-page__menu a:hover {
    color: black;
}

.nav-page__menu li {
    text-align: center;
    margin: 33px;
}

.nav-page__menu hr {
    margin: 0 auto;
    width: 48px;
    opacity: 0.2;

}

/* About-Page-Styling */
.product__nav {
    background-image: url(/Assets/graphics-header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

.product__nav-hamburger {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 16px;
    top: 16px;
}

.product__hamburger-icon {
    position: absolute;
    width: 26px;
    height: 20px;
    left: 11px;
    top: 14px;
}

.product__nav-cart {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--airbean-brown);
    border-radius: 50%;
    right: 16px;
    top: 16px;
}

.product__cart-icon {
    position: absolute;
    width: 26px;
    height: 20px;
    right: 17px;
    top: 19px;
}

.header {
    background-color: var(--background-beige);
}

.header-img {
    width: 100%;
}

.about-main {
    background-color: var(--background-beige);
}

.about-main__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info__container {
    padding: 1rem;
}

.about-main__title{
    margin-bottom: 1rem;
}

.about-main__text {
    overflow-wrap: break-word;
    margin-bottom: 3rem;
}

.about-avatar__container {
    background-color: var(--background-beige);  
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.about-avatar__img {
    border-radius: 50%;
}

.about-avatar__name {
    font-size: 22px;
}

.about-avatar__text {
    text-align: center;
    font-size: 12px;
}

.footer {
    background-color: var(--background-beige);
}

.footer-img {
    width: 100%;
}
