@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Varibels */
:root {
    --main-green: #38846D;
    --background-beige: #F3E4E1;
    --airbean-brown: #2F2926;
    --airbrean-orange: #E5674E;
    --background-blur: rgba(0, 0, 0, 0.7);
}

body {
    font-family: "PT Serif", serif;
}

ul,
li {
    list-style: none;
}

h1 {
    font-size: 42px;
}

p {
    font-family: "Work Sans", sans-serif;
}

a {
    text-decoration: none;
}

/* Landingpage */

.main {
    background-color: var(--main-green);
    position: relative;
    height: 100vh;
    width: 100vw;
}

.main__leaf-img {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.main__leaf-img img:nth-child(1) {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 1;
}

.main__leaf-img img:nth-child(2) {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 2;
}

.main__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


.product__body {
    background-color: var(--background-beige);
}

.product__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Nav-page */
.nav-page__wrapper {
    background-color: var(--airbean-brown);
    width: 100%;
    height: 100vh;
}

.nav-page__close-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 16px;
    top: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: var(--background-beige);
}

.nav-page__close-icon {
    width: 20px;
}

.nav-page__menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 32px;
}

.nav-page__menu a {
    color: var(--background-beige);
}

.nav-page__menu a:hover {
    color: black;
}

.nav-page__menu li {
    text-align: center;
    margin: 33px;
}

.nav-page__menu hr {
    margin: 0 auto;
    width: 48px;
    opacity: 0.2;

}

/* About-Page-Styling */

.product__main-heading {
    color: var(--airbean-brown);
}

.product__nav {
    background-image: url(/Assets/graphics-header.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40%;
    width: 100%;
}

.product__nav-hamburger {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    left: 16px;
    top: 16px;
}

.product__hamburger-icon {
    position: absolute;
    width: 26px;
    height: 20px;
    left: 11px;
    top: 14px;
}

.product__nav-cart {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--airbean-brown);
    border-radius: 50%;
    right: 16px;
    top: 16px;
}

.product__cart-icon {
    position: absolute;
    width: 26px;
    height: 20px;
    right: 17px;
    top: 19px;
}

.cart-extra {
    width: 22px;
    height: 22px;
    background-color: var(--airbrean-orange);
    border-radius: 50%;
    position: absolute;
    right: 2px;
    top: -5px;
}

.cart-extra-text {
    color: white;
    font-size: 14px;
    position: absolute;
    right: 7px;
    top: 1px;
    font-family: "PT Serif", serif;
    font-weight: 700;
}

.product__products {
    margin-bottom: 90px;
}

.product__menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 28px;
}

.product__item-price {
    padding: 8px;
    font-size: 23px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    color: var(--airbean-brown);
}

.product__item-icon {
    width: 32px;
    height: 32px;
    background-color: var(--airbean-brown);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.menu-item-add {
    width: 12px;
    height: 12px;
}

.product__item-text {
    padding-left: 16px;
    width: 80%;
    color: var(--airbean-brown);
}

.item-title {
    font-size: 23px;
    font-family: "PT Serif", serif;
    font-weight: 700;
}

.item-desc {
    font-size: 12px;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
}

.product__footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: block;
}

.product__footer-img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.header {
    background-color: var(--background-beige);
}

.header-img {
    width: 100%;
}

.about-main {
    background-color: var(--background-beige);
}

.about-main__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info__container {
    padding: 1rem;
}

.about-main__title {
    margin-bottom: 1rem;
}

.about-main__text {
    overflow-wrap: break-word;
    margin-bottom: 3rem;
}

.about-avatar__container {
    background-color: var(--background-beige);
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.about-avatar__img {
    border-radius: 50%;
}

.about-avatar__name {
    font-size: 22px;
}

.about-avatar__text {
    text-align: center;
    font-size: 12px;
}

.footer {
    background-color: var(--background-beige);
}

.footer-img {
    width: 100%;
}


/* Status-Page-Styling */

.status__wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--airbrean-orange);
}

.status__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem 0;
}

.status__orderinfo {
    text-align: center;
    font-family: "work sans";
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.status__ordernbr {
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.status__img,
.status__btn {
    width: 50%;
    margin: 0 auto;
}

.status__title {
    text-align: center;
    font-family: "PT Serif";
    font-weight: 700;
    font-size: 36px;
    color: white;
    line-height: 42px;
    width: 80%;
    margin: 0 auto;
}

.status__time {
    font-family: "work sans";
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 30px;
}

.status__distance {
    font-family: "work sans";
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 28px;
}

.status__time-value {
    font-size: 21px;
    font-weight: 400;
}

.status__btn {
    padding: 8px 16px;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 700;
    font-family: "PT Serif";
}


/* Lazy Loader */

.d-none {display: none;}

.lazy-loader {
    margin-top: 5rem;
    width: 7rem;
}


/* Profile-page-styling */


.profile-header{
    background-color: var(--airbean-brown);
}

.profile-main {
    height: 100vh;
    background-color: var(--airbean-brown);
}

.profile-main__container {
    padding: 1rem;
}

.profile-avatar__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-avatar__img {
    margin-bottom: 1rem;
    width: 94px;
    height: 94px;

}
.profile-avatar__name {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: .5rem;
}

.profile-avatar__info {
    opacity: 80%;
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 8);
    font-size: 14px;
}

.profile-order__title {
    padding-left: .2rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    color: rgba(255, 255, 255, 1);
    font-family: "PT Serif", serif;
    font-size: 22px;
    font-weight: 700;
}

.profile-order__container {
    display: flex;
    flex-direction: column;
}

.profile-product__orderNumber {
    font-size: 14px;
}

.profile-product__orderInfo {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

.profile-product__cost {
    color: rgba(255, 255, 255, 0.5);
    opacity: 50%;
}


.profile-product__orderNumber,
.profile-product__cost,
.profile-product__totalSpent {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
}

.profile-product__lineOne {
    color: rgba(255, 255, 255, 0.08);
    opacity: 30%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.profile-product__lineTwo {
    color: rgba(255, 255, 255, 0.06);
    margin-top: .5rem;
    margin-bottom: .5rem;
}